@model GameHUB.Models.ViewModels.LayoutModel

<div id="mySidenav" class="sidenav">
    <a href="#">GAMES</a>
    <ul>
        <li><a href="#">RPG</a></li>
    </ul>
    <a href="#">MODS</a>
    <a href="#">GUIDES</a>
    <a href="#">MERCH</a>
</div>