@media (min-width: 350px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 550px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 700px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        column-count: 5;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 1400px) {
    .card-columns {
        column-count: 7;
    }
}