@media (min-width: 370px) {
    .card-columns {
        column-count: 3;
    }
}


@media (min-width: 700px) {
    .card-columns {
        column-count: 4;
    }
}


@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

