$hamburger-layer-color: white !default;
/*$hamburger-layer-width: 40px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 2px !default;*/
$hamburger-padding-x: 5px !default;
$hamburger-padding-y: 5px !default;

@import "hamburgers/hamburgers";
