@model GameHUB.Models.ViewModels.IViewModel<GameHUB.Models.Pages.MasterPage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GAMEHUB</h2>
@Html.PropertyFor(x => x.CurrentContent.MainContent)
