@using EPiServer.Commerce.Order
@model GameHUB.Models.ViewModels.LayoutModel

@*HEADER*@

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    @*star wars laser swords*@
    <a class="nav-item" style="width: 50px;">
        <div id="nav-container">
            <div class="toggle-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div><!-- /toggle-icon -->
        </div><!-- /nav-container -->
    </a>
    <div class="hamburger hamburger--emphatic">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <a class="navbar-brand mx-auto" href="#"><i class="fas fa-gamepad"></i>&nbsp;@Html.PropertyFor(x => x.Header.Title)&nbsp;<i class="fas fa-gamepad"></i></a>

    
    <div id="miniCart">
        <div class="nav-item dropdown keep-open" data-toggle="dropdown" closable="false">
            <a class="nav-link dropdown-toggle" id="cartDropdown" role="button" data-toggle="dropdown" style="color: white">
                <i class="fas fa-shopping-cart"><span class="pl-1" id="cartItems">@Model.Cart.GetAllLineItems().Sum(x => x.Quantity)</span></i>
            </a>
            <div id="miniCartMenu" class="dropdown-menu dropdown-menu-right" style="min-width: 300px;">
                @Html.Action("MiniCart", "Cart")
            </div>
        </div>
    </div>
    
</nav>