@model GameHUB.Models.ViewModels.LayoutModel

<div id="mySidenav" class="sidenav">
    @*<a href="#">GAMES</a>
    <ul>
        <li><a href="#">RPG</a></li>
    </ul>
    <a href="#">MODS</a>
    <a href="#">GUIDES</a>
    <a href="#">MERCH</a>*@
    
    <div class="menu">
        <li class="item" id='games'>
            <a href="#games" class="btn"><i class="fas fa-gamepad"></i>Games</a>
            <div class="smenu">
                <a href="#">All</a>
                <a href="#">FPS</a>
                <a href="#">RPG</a>
                <a href="#">MMO</a>
                <a href="#">Strategy</a>
            </div>
        </li>

        <li class="item" id="mods">
            <a href="#mods" class="btn"><i class="fas fa-cogs"></i>Mods</a>
            <div class="smenu">
                <a href="#">All</a>
                <a href="#">Hacks</a>
                <a href="#">Skins</a>
                <a href="#">Add-Ons</a>
            </div>
        </li>

        <li class="item" id="guides">
            <a href="#guides" class="btn"><i class="fas fa-book-open"></i>Guides</a>
            <div class="smenu">
                <a href="#">All</a>
                <a href="#">Cheats</a>
                <a href="#">Tutorials</a>
                <a href="#">Walkthroughs</a>
            </div>
        </li>

        <li class="item" id="merch">
            <a class="btn" href="#merch"><i class="fas fa-tshirt"></i>Merchandise</a>
            <div class="smenu">
                <a href="#">All</a>
                <a href="#">Figurines</a>
                <a href="#">Clothing</a>
                <a href="#">Decor</a>
                <a href="#">Art</a>
                <a href="#">Original Sound Tracks</a>
            </div>
        </li>
    </div>
</div>