@model GameHUB.Models.ViewModels.CategoryViewModel<GameHUB.Models.Commerce.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CurrentContent.Name</h2>


<div class="card-columns">
    @foreach (var product in Model.Products)
    {
        @Html.Partial("Commerce/_Product", product)
    }
</div>
